.about-me-section,
.contact-section {
  border-bottom-left-radius: 0;
  width: 1290px;
  height: 924px;
  background: #fff;
}

.about-me-main.portfolio-card-section {
  border: none;
}

.about-me-section {
  display: grid;
  margin-top: 140px;
}

.about-me-main {
  grid-column: 2;
  grid-row: 1;
  display: flex;
}

.about-me-frame {
  height: 50px;
  width: 50px;
}

.skills-frame {
  height: 50px;
  width: 50px;
}

.desktop-form-bg-img {
  background: #6070ff;
  width: 1290px;
  height: 846px;
  border-top-left-radius: 120px;
  background-image: url("/app/static/images/dsktp-contact-form-bg.svg");
  background-repeat: no-repeat;
}

.left-block.about {
  width: 447px;
}

.languages.about {
  gap: 24px;
  width: 684px;
  margin: 20px;
}

.languages.about > ul > li {
  text-align: start;
  width: 122px;
  height: 120px;
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.03em;
  font-size: 15px;
  color: #253858;
}

.about-languages {
  display: flex;
}

.about-languages h4 {
  flex: 1;
  margin-left: 60px;
}

.about-frame-8 ul {
  display: block;
}

#about-frameworks,
#about-skills {
  display: flex;
}

#about-frameworks h5,
#about-skills h5 {
  flex: 1;
}

.about-seperator {
  margin: 0 50px;
}

.see-project-btn.about {
  margin-top: -5px;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

/* form container */
.form-container {
  height: 846px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-text {
  height: auto;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-text h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.form-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 569px;
  height: 102px;
  text-align: center;
  color: #ebebff;
  margin-top: -8px;
}

.container-form {
  height: 423px;
  width: 720px;
}

.container-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -8px;
}

input[type="text"],
input[type="email"] {
  font-family: Poppins, sans-serif;
  margin: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  height: 48px;
  width: 447px;
  border-radius: 2px;
}

#send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  margin: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  height: 170px;
  width: 447px;
  border-radius: 2px;
}

input[type="submit"] {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 8px;
  width: 142px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-family: Poppins, sans-serif;
  padding: 12px 16px;
}

input[type="submit"]:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgb(64 83 252 / 24%);
}

input[type="submit"]:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}
