@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* Navigation */
header {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    
}

.menu{
    width: 375px;
    display: flex;
}


.logo{
    flex: 1;
    font-weight: 700;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
.logo a{
    color: #6070FF;
}
.logo, .hamburger-menu{
    padding: 10px;
}

#right{
    text-align: start;
    align-self: flex-start;
}

.menu-icon {
    text-align: end;
    width: 30px;
    height: 3px;
    margin: 4px 0;
    background: #6070FF;
}

ul, li {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}
