@import "https://fonts.googleapis.com/css2?family=Dosis&family=Poppins:wght@300&family=Roboto:wght@300&display=swap";

html,
body {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  transition-duration: 1ms;
}

nav {
  display: flex;
  width: 1280px;
}

header {
  width: 1280px;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background: #fff;
  padding: 30px;
}

.left a {
  text-decoration: none;
  color: #6070ff;
}

.left {
  flex: 1;
  padding: 10px;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
  justify-content: center;
}

.right {
  flex: 1;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.right a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  font-weight: 800;
  padding: 10px;
  transition: all 0.5s ease-out;
}

.right a:hover {
  background-color: #6070ff;
  color: #fff;
  border-radius: 5px;
  font-weight: 800;
  transition: text-decoration 0.5s ease;
}

ul {
  list-style-type: none;
}
