@import "https://fonts.googleapis.com/css2?family=Dosis&family=Poppins:wght@300&family=Roboto:wght@300&display=swap";

body {
  font-family: Poppins, sans-serif;
}

.section-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-section {
  display: flex;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
}

/* background images */
.section-one-bg {
  background: url("/app/static/images/Snapshoot\ Portfolio\ \(1\).svg");
  width: 295px;
  height: 220px;
}

.section-two-bg {
  background: url("/app/static/images/Snapshoot-Portfolio_1.svg");
  width: 295px;
  height: 220px;
}

.section-three-bg {
  background: url("/app/static/images/Snapshoot-Portfolio_2.svg");
  width: 295px;
  height: 220px;
}

.section-four-bg {
  background: url("/app/static/images/Snapshoot-Portfolio_3.svg");
  width: 295px;
  height: 220px;
}

/* Section title */
.section-title {
  margin-bottom: 15px;
  margin-top: -15px;
  width: 295px;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
}

/* Section block */
.section-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
}

/* Section frame */
.section-frame {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 25px;
  width: 236px;
  height: 32px;
}

/* Section text */
.cannopy {
  width: 55px;
  height: 16px;
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  gap: 8px;
}

.backend {
  width: 108px;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  display: flex;
  gap: 9px;
}

#here {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
  display: inline-flex;
}

.year {
  width: 29px;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.section-primary-text {
  width: 295px;
  height: 76px;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  font-weight: 400;
  margin-top: -15px;
  margin-bottom: 10px;
}

/* Section tags */
.section-tags {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
  width: 203px;
  height: 24px;
}

.section-action {
  width: 295px;
  height: 72px;
  margin-top: 10px;
}

/* Section buttons */
.section-tags li {
  border: none;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.section-action button {
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  border-radius: 8px;
  color: #6070ff;
  background: #fff;
  left: 100px;
  border: 1px solid #7f8cff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

#resume-btn {
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.section-action button:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgb(64 83 252 / 24%);
}

.section-action button:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}
