@media screen and (max-width: 768px) {
  html,
  body {
    background: #e5e5e5;
    width: 375px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Poppins, sans-serif;
  }

  main {
    background: #e5e5e5;
    border: grey solid 1px;
    display: flex;
    justify-content: center;
  }

  .container {
    flex: 1;
    width: 375px;
  }

  /* Navigation */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    height: 48px;
    width: 375px;
  }

  .right {
    display: none;
  }

  .show-menu {
    display: block;
    position: absolute;
    top: 85px;
    width: 335px;
    z-index: auto;
    height: 100%;
    background-color: #6070ff;
    margin-top: -85px;
    text-align: start;
    opacity: 0.8;
  }

  .show-menu a {
    font-weight: 600;
    margin: 35px auto;
    color: #fff;
    font-size: 32px;
    line-height: 24px;
    display: flex;
    align-items: center;
  }

  .port {
    /* margin-top: 100px; */
  }

  nav {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 0;
    width: 375px;
  }

  .hambuger-menu {
    padding: 10px;
  }

  .menu-icon {
    width: 30px;
    height: 3px;
    margin: 4px 0;
    background: #6070ff;
    display: flex;
    transition: 0.4s;
  }

  .change .menu-icon.one {
    transform: translate(0, 3px) rotate(-45deg);
    background-color: white;
    z-index: 3;
  }

  .change .menu-icon.two {
    opacity: 0;
  }

  .change .menu-icon.three {
    transform: translate(0, -11px) rotate(45deg);
    background-color: white;
    z-index: 2;
  }

  .left li {
    width: 76px;
    height: 20px;
  }

  .main-section {
    border-bottom-left-radius: 70px;
    width: 375px;
  }

  .main-background {
    width: 475px;
    height: 588px;
    background: url("../static/images/header-shapes-mobile.svg");
    background-repeat: no-repeat;
    padding: 0 10px;
    padding-top: 0;
  }

  .main-container {
    display: grid;
  }

  .main-text h1 {
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    width: 327px;
    height: 150px;
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
  }

  #main-text-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: 327px;
    height: 146px;
  }

  .social-icons {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
  }

  .icons {
    display: flex;
    gap: 20px;
    margin-left: -20px;
  }

  .icons a {
    color: #505f79;
  }

  .fa-brands,
  .fa-solid {
    color: #505f79;
    font-size: 16px;
    transition: transform 0.5s;
    margin: 0 auto;
  }

  /* mid section one */
  .right-block {
    display: none;
  }

  .section-one-bg {
    background-image: url("../static/images/Snapshoot-Portfolio-1.svg");
    width: 295px;
    height: 220px;
  }

  .portfolio-card-section {
    display: flex;
    width: 327px;
    height: 552px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    margin-left: 7px;
  }

  .left-block {
    margin-bottom: 15px;
    margin-top: -15px;
    width: 295px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    line-height: 44px;
    color: #172b4d;
  }

  .core-skills li {
    display: flex;
    padding: 3px;
  }

  .left-frame ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 297px;
    height: 40px;
  }

  .section-tags li {
    border: none;
    background: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .left-frame > ul > li {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #344563;
    justify-content: space-between;
  }

  /* about me section */

  .languages > ul > li {
    text-align: center;
    padding: 4px 12px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #6070ff;
    line-height: 20px;
  }

  .lan-ruby {
    display: none;
  }

  #port3-text {
    display: none;
  }

  #uber-nav {
    display: none;
  }

  #uber-text {
    display: none;
  }

  .lan-html {
    margin-left: -40px;
    width: 53px;
  }

  .lan-css {
    width: 45px;
  }

  .lan-js {
    width: 89px;
  }

  .see-project-btn {
    background: #fff;
    text-align: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    width: 124px;
    height: 48px;
    margin-top: -5px;
  }

  .see-project-btn:hover {
    background-color: #6070ff;
    color: #fff;
    box-shadow: 0 8px 16px rgb(64 83 252 / 24%);
  }

  .see-project-btn:active {
    background: #2230d2;
    border-radius: 8px;
    color: #fff;
  }

  /* section two */
  .left-block,
  .frame-one {
    width: 295px;
    height: 332px;
  }

  .section-two-bg {
    background-image: url("../static/images/Snapshoot-Portfolio_1.svg");
    width: 295px;
    height: 220px;
  }

  .section-three-bg {
    background: url("../static/images/Snapshoot-Portfolio_2.svg");
    width: 295px;
    height: 220px;
  }

  .section-four-bg {
    background-image: url("../static/images/Snapshoot-Portfolio_3.svg");
    width: 295px;
    height: 220px;
  }

  .left-block h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 44px;
    color: #172b4d;
  }

  .left-block p {
    margin-top: -15px;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #344563;
  }

  .left-block.about {
    height: 1263px;
    top: 4769px;
    width: 327px;
    border-radius: 0;
  }

  .left-block.about p {
    width: 327px;
    height: 144px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .contact-form {
    display: flex;
    width: 375px;
    height: 1263px;
    height: 779px;
    border: 1px solid #dfe1e6;
    border-top-left-radius: 70px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #6070ff;
    margin-top: -155px;
  }

  .form-bg {
    background-image: url("../static/images/form-bg.svg");
    background-repeat: no-repeat;
    width: 265px;
    height: 779px;
    margin-left: 195px;
  }

  .form-text-container {
    text-align: center;
    margin-left: -120px;
    width: 265px;
  }

  #form-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    padding-top: 60px;
  }

  #form-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    width: 327px;
    height: 102px;
    left: 24px;
    top: 4802px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-right: 240px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }

  input[type="text"],
  input[type="email"] {
    margin: 8px;
    width: 300px;
    height: 40px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
    padding: 5px 10px;
  }

  input[type="submit"] {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 4px;
    margin: 8px;
    width: 140px;
    height: 48px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;

    /* font-family: Poppins, sans-serif; */
  }

  input[type="submit"]:hover {
    background-color: #6070ff;
    color: #fff;
    box-shadow: 0 8px 16px rgb(64 83 252 / 24%);
  }

  input[type="submit"]:active {
    background: #2230d2;
    border-radius: 8px;
    color: #fff;
  }

  textarea {
    margin: 8px;
    width: 300px;
    height: 150px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 4px;

    /* font-family: Poppins, sans-serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #b3bac5;
    padding: 5px 10px;
  }

  .form-img {
    margin-left: -30px;
  }

  .about-seperator {
    margin: 0 55px;
  }

  .contact-section {
    display: none;
  }

  /* about me mobile section */
  .section-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .section-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 295px;
    height: 288px;
  }

  .section-about {
    display: flex;
    width: 375px;
    height: 1263px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-top-right-radius: 60px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .language-lists {
    display: grid;
    justify-items: start;
    width: 300px;
    height: 464.15px;
    margin-left: -50px;
  }

  .language.js,
  .language.css,
  .language.html {
    gap: 30px;
    background: #f7f7f9;
    border-radius: 8px;
    width: 270px;
    font-weight: 900;
    font-size: 15px;
    color: #253858;
    margin-bottom: 8px;
  }

  .framework {
    gap: 135px;
  }

  .frame-skill {
    gap: 200px;
  }

  .frame-skill,
  .framework {
    font-size: 20px;
    color: #000;
  }

  .language-text {
    gap: 150px;
    font-size: 20px;
    color: #000;
  }

  .about-me-text {
    padding-top: 60px;
    margin-bottom: -20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    color: #172b45;
  }

  .section-action button {
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    border-radius: 8px;
    color: #6070ff;
    background: #fff;
    left: 100px;
    border: 1px solid #7f8cff;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
  }

  #resume-btn {
    padding: 12px;
    gap: 10px;
    width: 162px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }

  h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .section-action button:hover {
    background-color: #6070ff;
    color: #fff;
    box-shadow: 0 8px 16px rgb(64 83 252 / 24%);
  }

  .section-action button:active {
    background: #2230d2;
    border-radius: 8px;
    color: #fff;
  }

  .about-me-section {
    display: none;
  }

  /* ++++++++++++++++++++++++++++++Manipulate DOM Elements+++++++++++++++++++++ */
}

@media (min-width: 768px) {
  .section-elements {
    display: none;
  }

  #mobile-story,
  #mobile-cannopy,
  #mobile-tonnic {
    display: none;
  }

  .mobile-sp {
    display: none;
  }
}
