<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/desktop/landing-page.css">
		<link rel="stylesheet" href="/app/static/desktop/main.css">
    
    <title>My Portfolio</title>
</head>
<body>
    <main>
        <!-- Landing page -->
        <header>
            <ul class="left">
                <li>My Logo</li>
            </ul>
            <ul class="right">
                <li>Portfolio</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </header>
				<div class="main-background"></div>
    </main>
</body>
</html>