<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="/app/static/desktop/landing-page.css">
		<link rel="stylesheet" href="/app/static/desktop/main.css">
    
    <title>My Portfolio</title>
</head>
<body>
    <main>
        <!-- Navigation menu -->
        <header>
            <ul class="left">
                <li><a href="#">My Logo</a></li>
            </ul>
            <ul class="right">
                <li><a href="#">Portfolio</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
            </ul>
        </header>
				<!-- main section -->
				<div class="main-background">
					<div class="main-container">
						<div class="main-text">
								<h1>I’m Alexandra <br>
									Glad to see you!
								</h1>
						</div>
						<div class="inner-text">
							<p id="main-text-description">I’m a software developer! I can help you build a product , 
								feature or website Look through some of my work and experience! 
								If you like what you see and have a project you need coded, 
								don’t hestiate to contact me.
							</p>
							<!--Social icons -->
							<div class="social-icons">
								<h4 id="connect">LET’S CONNECT</h4>
								<ul class="icons">
									<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></i></li>
									<li><a href="#"><i class="fa-solid fa-m"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-github"></i></a></li>
									<li><a href="#"><img src="/app/static/images/Vector.svg" alt=""></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
    </main>
</body>
</html>