<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="/app/static/desktop/landing-page.css">
		<link rel="stylesheet" href="/app/static/desktop/main.css">
    <link rel="stylesheet" href="/app/static/desktop/portfolio.css">
    <title>My Portfolio</title>
</head>
<body>
    <main>
        <!-- Navigation menu -->
        <header>
            <ul class="left">
                <li><a href="#">My Logo</a></li>
            </ul>
            <ul class="right">
                <li><a href="#">Portfolio</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
            </ul>
        </header>
				<!-- main section -->
				<!-- main section -->
			<section class="main-section">
				<div class="main-background">
					<div class="main-container">
						<div class="main-text">
								<h1>I’m Alexandra <br>
									Glad to see you!
								</h1>
						</div>
						<div class="inner-text">
							<p id="main-text-description">I’m a software developer! I can help you build a product , 
								feature or website Look through some of my work and experience! 
								If you like what you see and have a project you need coded, 
								don’t hestiate to contact me.
							</p>
							<!--Social icons -->
							<div class="social-icons">
								<h4 id="connect">LET’S CONNECT</h4>
								<ul class="icons">
									<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></i></li>
									<li><a href="#"><i class="fa-solid fa-m"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-github"></i></a></li>
									<li><a href="#"><img src="/app/static/images/Vector.svg" alt=""></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--Portfolio card 1-->
			<section class="portfolio-card-section">
				<div class="right-block">
					<img src="/app/static/images/dsk-portfolio-card.svg" alt="">
				</div>
				<div class="left-block">
					<h3>Tonic</h3>
					<div class="left-frame">
						<ul>
							<li>CANOPY</li>
							<img src="/app/static/images/Counter.svg" alt="">
							<li>Back End Dev</li>
							<img src="/app/static/images/Counter.svg" alt="">
							<li>2015</li>
						</ul>
					</div>
					<p>A daily selection of privately personalized reads; 
						no accounts or sign-ups required.
					</p>
					<div class="languages">
						<ul>
							<li id="lan-html">html</li>
							<li id="lan-css">css</li>
							<li id="lan-js">javascript</li>
						</ul>
					</div>
					<button type="submit" class="see-project-btn">See Project</button>
				</div>
			</section>
			<!-- Portfolio card 2 -->
			<section class="portfolio-card-section">
				<div class="left-block one">
					<h3>Multi-Post Stories</h3>
					<div class="left-frame">
						<ul id="frame-one">
							<li id="fb-text">FACEBOOK</li>
							<img src="/app/static/images/Counter.svg" alt="">
							<li id="left-skill">Full Stack Dev</li>
							<img src="/app/static/images/Counter.svg" alt="">
							<li id="left-year">2015</li>
						</ul>
					</div>
					<p>
						Experimental content creation feature that allows users to add to an existing 
						story over the course of a day without spamming their friends.
					</p>
					<div class="languages">
						<ul id="lan-one">
							<li id="lan-html">html</li>
							<li id="lan-ruby">Ruby on rails</li>
							<li id="lan-css">css</li>
							<li id="lan-js">javascript</li>
						</ul>
					</div>
					<button type="submit" class="see-project-btn">See Project</button>
				</div>
				<div class="right-block">
					<img src="/app/static/images/dskt-snapshot.svg" alt="">
				</div>
			</section>
			<!-- Portfolio card 3 -->
			<section class="portfolio-card-section">
				<div class="right-block">
					<img src="/app/static/images/dsktp-card.svg" alt="">
				</div>
				<div class="left-block">
					<h3 id="port3-text">Facebook 360</h3>
					<div class="left-frame">
						<ul id="frame-one">
							<li id="fb-text">FACEBOOK</li>
							<img src="/app/static/images/Counter.svg" alt="">
							<li id="left-skill">Full Stack Dev</li>
							<img src="/app/static/images/Counter.svg" alt="">
							<li id="left-year">2015</li>
						</ul>
					</div>
					<p>
						Exploring the future of media in Facebook's first Virtual Reality app; 
						a place to discover and enjoy 360 photos and videos on Gear VR.
					</p>
					<div class="languages">
						<ul id="lan-one">
							<li id="lan-html">html</li>
							<li id="lan-ruby">Ruby on rails</li>
							<li id="lan-css">css</li>
							<li id="lan-js">javascript</li>
						</ul>
					</div>
					<button type="submit" class="see-project-btn">See Project</button>
				</div>
			</section>

				<!-- Portfolio card 4 -->
				<section class="portfolio-card-section">
					<div class="left-block one">
						<h3 id="uber-nav">Uber Navigation</h3>
						<div class="left-frame">
							<ul id="frame-one">
								<li id="fb-text">UBER</li>
								<img src="/app/static/images/Counter.svg" alt="">
								<li id="left-skill">Lead Developer</li>
								<img src="/app/static/images/Counter.svg" alt="">
								<li id="left-year">2018</li>
							</ul>
						</div>
						<p>
							A smart assistant to make driving more safe, efficient, 
							and fun by unlocking your most expensive computer: your car.
						</p>
						<div class="languages">
							<ul id="lan-one">
								<li id="lan-html">html</li>
								<li id="lan-ruby">Ruby on rails</li>
								<li id="lan-css">css</li>
								<li id="lan-js">javascript</li>
							</ul>
						</div>
						<button type="submit" class="see-project-btn">See Project</button>
					</div>
					<div class="right-block">
						<img src="/app/static/images/dsktp-last-card.svg" alt="">
					</div>
				</section>
	
    </main>
</body>
</html>