<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="/app/static/index.css">
    <link rel="stylesheet" href="/app/static/middle.css">
    <link rel="stylesheet" href="/app/static/about.css">
    <link rel="stylesheet" href="/app/static/forms.css">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <div class="menu">
                <ul class="logo">
                    <li id="left"><a href="#">My Logo</a></li>
                </ul>
                <ul class="hamburger-menu">
                    <li><a href="#"><div class="menu-icon"></div></a></li>
                    <li><a href="#"><div class="menu-icon"></div></a></li>
                    <li><a href="#"><div class="menu-icon"></div></a></li>
                </ul>
            </div>
        </header>
        <section class="headline">
            <div class="background-image">
                <div class="header-text">
                    <h1>I’m Mariane <br> Glad to see you!</h1>
                </div>
                <div class="about-text">
                    <p>I’m a software developer! I can help you build a product , 
                        feature or website Look through some of my work and experience! 
                        If you like what you see and have a project you need coded, 
                        don’t hestiate to contact me.
                    </p>
                </div>
                <div class="social-media">
                    <h4>LET’S CONNECT</h4>
                    <ul class="icons">
                        <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                        <li><a href="#"></a><i class="fa-brands fa-linkedin-in"></i></li>
                        <li><a href="#"><img src="/app/static/images/Vector.svg" alt=""></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-m"></i></a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Middle section one-->
        <section class="section-elements">
            <div class="middle-section">
                <div class="section-one-bg"></div>
                <div class="section-block">
                    <div class="section-title"><h2>Tonic</h2></div>
                    <div class="section-frame">
                        <div class="cannopy">CANOPY
                            <div class="section-img">
                                <img src="/app/static/images/Counter.svg" alt="">
                            </div>
                        </div>
                        <div class="backend">Back End Dev
                            <div class="section-img">
                                <img src="/app/static/images/Counter.svg" alt="">
                            </div> 
                        </div>
                        <div class="year">2015</div>
                    </div>
                    <div class="section-primary-text">
                        <p>
                            A daily selection of privately personalized reads; 
                            no accounts or sign-ups required.
                        </p>
                    </div>
                    <ul class="section-tags">
                        <li>html</li>
                        <li>css</li>
                        <li>javascript</li>
                    </ul>
                    <div class="section-action">
                        <button type="submit">See project</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Middle Section two -->
        <section class="section-elements">
            <div class="middle-section">
                <div class="section-two-bg"></div>
                <div class="section-block">
                    <div class="section-title"><h2>Multi-Post Stories</h2></div>
                    <div class="section-frame">
                        <div class="cannopy">CANOPY
                            <div class="section-img">
                                <img src="/app/static/images/Counter.svg" alt="">
                            </div>
                        </div>
                        <div class="backend">Back End Dev
                            <div class="section-img">
                                <img src="/app/static/images/Counter.svg" alt="">
                            </div> 
                        </div>
                        <div class="year">2015</div>
                    </div>
                    <div class="section-primary-text">
                        <p>
                            A daily selection of privately personalized reads; 
                            no accounts or sign-ups required.
                        </p>
                    </div>
                    <ul class="section-tags">
                        <li>html</li>
                        <li>css</li>
                        <li>javascript</li>
                    </ul>
                    <div class="section-action">
                        <button type="submit">See project</button>
                    </div>
                </div>
            </div>
        </section>
        
        <!--Third middle section-->
        <section class="section-elements">
            <div class="middle-section">
                <div class="section-three-bg"></div>
                <div class="section-block">
                    <div class="section-title"><h2>Multi-Post Stories</h2></div>
                    <div class="section-frame">
                        <div class="cannopy">CANOPY
                            <div class="section-img">
                                <img src="/app/static/images/Counter.svg" alt="">
                            </div>
                        </div>
                        <div class="backend">Back End Dev
                            <div class="section-img">
                                <img src="/app/static/images/Counter.svg" alt="">
                            </div> 
                        </div>
                        <div class="year">2015</div>
                    </div>
                    <div class="section-primary-text">
                        <p>
                            A daily selection of privately personalized reads; 
                            no accounts or sign-ups required.
                        </p>
                    </div>
                    <ul class="section-tags">
                        <li>html</li>
                        <li>css</li>
                        <li>javascript</li>
                    </ul>
                    <div class="section-action">
                        <button type="submit">See project</button>
                    </div>
                </div>
            </div>
        </section>
        
        <!--Fourth middle section-->
        <section class="section-elements">
            <div class="middle-section">
                <div class="section-four-bg"></div>
                <div class="section-block">
                    <div class="section-title"><h2>Multi-Post Stories</h2></div>
                    <div class="section-frame">
                        <div class="cannopy">CANOPY
                            <div class="section-img">
                                <img src="/app/static/images/Counter.svg" alt="">
                            </div>
                        </div>
                        <div class="backend">Back End Dev
                            <div class="section-img">
                                <img src="/app/static/images/Counter.svg" alt="">
                            </div> 
                        </div>
                        <div class="year">2015</div>
                    </div>
                    <div class="section-primary-text">
                        <p>
                            A daily selection of privately personalized reads; 
                            no accounts or sign-ups required.
                        </p>
                    </div>
                    <ul class="section-tags">
                        <li>html</li>
                        <li>css</li>
                        <li>javascript</li>
                    </ul>
                    <div class="section-action">
                        <button type="submit">See project</button>
                    </div>
                </div>
            </div>
        </section>
    
        <!--About me section-->
        <section class="section-elements">
            <div class="section-about">
                <div class="section-block">
                    <div class="about-me-text">
                        <h1>About <br> Myself</h1>
                    </div>
                    <div class="about-text">
                        <p>I’m a software developer! I can help you build a product , 
                            feature or website Look through some of my work and experience! 
                            If you like what you see and have a project you need coded, 
                            don’t hestiate to contact me.
                        </p>
                    </div>
                    <div class="social-media">
                        <h4>LET’S CONNECT</h4>
                        <ul class="icons">
                            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                            <li><a href="#"></a><i class="fa-brands fa-linkedin-in"></i></li>
                            <li><a href="#"><img src="/app/static/images/Vector.svg" alt=""></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-m"></i></a></li>
                        </ul>
                    </div>
                    <div class="section-action">
                        <button id="resume-btn" type="submit">Get my resume</button>
                    </div>
                    <div class="language-lists">
                        <ul class="core-skills">
                            <li class="language-text">
                                <h5>Languages</h5>
                                <img src="/app/static/images/Union.svg" alt="">
                            </li>
                            <li class="language js">
                                <img src="/app/static/images/js.svg" alt="">
                                <h5>Javascript</h5>
                            </li>
                            <li class="language html">
                                <img src="/app/static/images/html.svg" alt="">
                                <h5>HTML</h5>
                            </li>
                            <li class="language css"><img src="/app/static/images/css.svg" alt="">
                                <h5>CSS</h5>
                            </li>
                            <li class="framework frame">
                                <h5>Frameworks</h5>
                                <img src="/app/static/images/arrow.svg" alt=""> 
                            </li>
                            <li><img src="/app/static/images/Separator-Bottom.svg" alt=""></li>
                            <li class="frame-skill skillset">
                                <h5>Skills</h5>
                                <img src="/app/static/images/arrow.svg" alt=""> 
                            </li>
                            <li><img src="/app/static/images/Separator-Bottom.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Form section -->
        <section class="section-elements contact">
            <div class="contact-form">
                <div class="form-bg">
                    <div class="form-text-container">
                        <p id="form-title">Contact Me</p>
                        <p id="form-text">If you have an application you are interested in developing, 
                            a feature that you need built or a project that needs coding. 
                            I’d love to help with it 
                        </p>
                    </div>
                    <form action="/" method="post">
                        <ul>
                            <li>
                                <label for="name"></label>
                                <input id="name" type="text" placeholder="Yeremias" required>
                            </li>
                            <li>
                                <label for="email"></label>
                                <input id="email" type="email" placeholder="natajayanj14@gmail.com" required>
                            </li>
                            <li>
                                <label for="subject"></label>
                                <textarea id="subject" name="subject" placeholder="Write your message here" required></textarea>
                            </li>
                            <li>
                                <label for="send"></label>
                                <input  id="send" type="submit" value="Get In Touch">
                            </li>
                        </ul>
                    </form>
                    <img src="/app/static/images/Shape.svg" alt="shape" class="form-img">
                </div>
            </div>
        </section>
    </main>
</body>
</html>