<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="/app/static/index.css">
    <link rel="stylesheet" href="/app/static/middle.css">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <div class="menu">
                <ul class="logo">
                    <li id="left"><a href="#">My Logo</a></li>
                </ul>
                <ul class="hamburger-menu">
                    <li><a href="#"><div class="menu-icon"></div></a></li>
                    <li><a href="#"><div class="menu-icon"></div></a></li>
                    <li><a href="#"><div class="menu-icon"></div></a></li>
                </ul>
            </div>
        </header>
        <section class="headline">
            <div class="background-image">
                <div class="header-text">
                    <h1>I’m Mariane <br> Glad to see you!</h1>
                </div>
                <div class="about-text">
                    <p>I’m a software developer! I can help you build a product , 
                        feature or website Look through some of my work and experience! 
                        If you like what you see and have a project you need coded, 
                        background: url("/app/static/images/Snapshoot\ Portfolio\ \(1\).svg");            don’t hestiate to contact me.
                    </p>
                </div>
                <div class="social-media">
                    <h4>LET’S CONNECT</h4>
                    <ul class="icons">
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"></a><i class="fa-brands fa-linkedin-in"></i></li>
                        <li><a href="#"><i class="fa-solid fa-m"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                        <li><a href="#"><img src="/app/static/images/Vector.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Middle section one-->
        <section class="section-elements">
            <div class="middle-section">
                <div class="section-works">
                    <div class="section-one-bg"></div>
                    <div class="section-block">
                        <div class="section-title">Tonic</div>
                        <div class="section-frame">
                            <li id="cannopy">CANOPY</li><img src="/app/static/images/Counter.svg" alt="">
                            <li id="backend">Back End Dev</li><img src="/app/static/images/Counter.svg" alt="">
                            <li id="year">2015</li>
                        </div>
                        <div class="section-primary-text">
                            <p>
                                A daily selection of privately personalized reads; 
                                no accounts or sign-ups required.
                            </p>
                        </div>
                        <div class="section-tags">
                            <button>html</button>
                            <button>css</button>
                            <button>javascript</button>
                        </div>
                        <div class="section-action">
                            <button>See project</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Middle Section two -->
        <section class="section-elements">
            <div class="middle-section">
                <div class="section-two-bg"></div>
                <div class="section-block">
                    <div class="section-title">Multi-Post Stories</div>
                    <div class="section-frame">
                        <li id="cannopy">CANOPY</li><img src="/app/static/images/Counter.svg" alt="">
                        <li id="backend">Back End Dev</li><img src="/app/static/images/Counter.svg" alt="">
                        <li id="year">2015</li>
                    </div>
                    <div class="section-primary-text">
                        <p>
                            A daily selection of privately personalized reads; 
                            no accounts or sign-ups required.
                        </p>
                    </div>
                    <div class="section-tags">
                        <button>html</button>
                        <button>css</button>
                        <button>javascript</button>
                    </div>
                    <div class="section-action">
                        <button>See project</button>
                    </div>
                </div>
            </div>
        </section>
        

    </main>
</body>
</html>